.login{
    background-image: linear-gradient(170deg ,$color-tertiary-light 0%,$color-tertiary-light 45%, $color-tertiary-dark 45%, $color-tertiary-dark 100%);
    height: 100vh;
    position: relative;
}
