.search{ 
    
    &__field{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rbga($color-white, .5);
    border: none;
    border: 1px solid $color-tertiary-dark;
    width: 15%;
    display: inline-block;
    transition: all .3s;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);

    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        border: 1px solid $color-tertiary-dark;
    }

    &:focus:invalid {
        border: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
        color: $color-grey-dark-2;
    }
    }}


    